html {
  background: linear-gradient(135deg, white, #fff5f5);
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main-left {
  max-width: 830px;
  background-color: white;
  background-image: url(../images/bg-pattern-desktop.svg);
}

#main-img {
  height: 800px;
}

#main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8% 26% 19% 19%;
}

#main-wrapper #logo {
  width: 160px;
}

#main-wrapper #hero-mobile {
  display: none;
  visibility: hidden;
}

#main-wrapper #main-head {
  font-size: 58px;
  line-height: 65px;
  text-transform: uppercase;
  letter-spacing: 23px;
  margin-top: 140px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #413a3a;
}

#main-wrapper #main-head span {
  font-weight: 300;
  color: #ce9797;
}

#main-wrapper p {
  margin: 0 0 40px 0;
  font-size: 17px;
  color: #ce9797;
  line-height: 30px;
}

#main-wrapper #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

#main-wrapper #email {
  width: 415px;
  height: 55px;
  border-radius: 30px;
  border: solid 1px #ce9797;
  color: #ce9797;
  padding-left: 30px;
  font-size: 17px;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main-wrapper #email:hover {
  border: solid 3px #f96262;
}

#main-wrapper #email:focus {
  outline: none;
  border: solid 3px #f96262;
}

#main-wrapper #submit-button {
  border: none;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  width: 100px;
  height: 55px;
  border-radius: 30px;
  position: absolute;
  left: 80%;
  cursor: pointer;
}

#main-wrapper #submit-button:hover {
  background: none;
  background-color: #f8bfbf;
  -webkit-box-shadow: 0px 10px 30px #ac6565a3;
          box-shadow: 0px 10px 30px #ac6565a3;
}

.attribution {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #413a3a;
}

.attribution a {
  text-decoration: none;
  color: #f96262;
}

.attribution a:hover {
  color: #f71818;
}

#error-message {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

#error-message p {
  margin-left: 40px;
  margin-top: 10px;
}

#error-message img {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -39px;
  left: 68%;
}

.show-hide {
  visibility: visible !important;
  opacity: 1 !important;
}

/* RESPONSIVE */
@media (max-width: 1150px) {
  #main-head {
    font-size: 40px !important;
    letter-spacing: 17px !important;
  }
  p {
    font-size: 14px !important;
  }
}

@media (max-width: 968px) {
  #main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main-img {
    visibility: hidden;
    display: none;
  }
  #logo {
    margin-bottom: 30px;
  }
  #main-head {
    margin-top: 65px !important;
    text-align: center;
  }
  p {
    text-align: center;
  }
  #hero-mobile {
    display: block !important;
    visibility: visible !important;
  }
  #main-wrapper {
    margin: 8% 19% 0% 19%;
  }
  #email {
    width: 458px !important;
  }
}

@media (max-width: 610px) {
  #main-head {
    font-size: 20px !important;
    letter-spacing: 5px !important;
  }
  p {
    font-size: 10px !important;
  }
  #email {
    width: 342px !important;
    height: 45px !important;
  }
  #submit-button {
    width: 70px !important;
    height: 45px !important;
  }
}

@media (max-width: 442px) {
  #main-head {
    line-height: 25px !important;
    margin-bottom: 25px !important;
    padding: 0 30px 0 30px !important;
  }
  p {
    font-weight: 300 !important;
    line-height: 20px !important;
    font-size: 12px !important;
  }
  #main-wrapper {
    margin: 10% 14% 19% 14%;
  }
}
/*# sourceMappingURL=style.css.map */